.slick-list,
.slick-slider,
.slick-track {
    position: relative;
    display: block
}

.slick-loading .slick-slide,
.slick-loading .slick-track {
    visibility: hidden
}

.slick-slider {
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}

.slick-list {
    overflow: hidden;
    margin: 0;
    padding: 0
}

.slick-list:focus {
    outline: 0
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand
}

.slick-wrapper .slick2-pagination .slick-arrow:hover,
.slider-insta-popup-wrapper .slick-arrow:hover {
    cursor: pointer
}

.slick-slider .slick-list,
.slick-slider .slick-track {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.slick-track {
    top: 0;
    left: 0
}

.slick-track:after,
.slick-track:before {
    display: table;
    content: ''
}

.slick-track:after {
    clear: both
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px
}

[dir=rtl] .slick-slide {
    float: right
}

.slick-slide img {
    display: block
}

.slick-slide.slick-loading img {
    display: none
}

.slick-slide.dragging img {
    pointer-events: none
}

.slick-initialized .slick-slide {
    display: block
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}

.slick-arrow.slick-hidden {
    display: none
}

.swiper-button-next,
.swiper-button-prev {
    background: 0 0 !important
}

.slick-wrapper .slick2-pagination {
    width: 100%;
    box-sizing: border-box;
    padding: 0 2rem
}

.slick-wrapper .slick2-pagination .slick-arrow {
    display: inline-block !important;
    float: left
}

.card-slider .slick-prev:before,
.slick-wrapper .slick2-pagination .slick-arrow.sl2-next {
    float: right
}

.slick-wrapper .slick2-pagination .slick-arrow img {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 50%;
    padding: 10px
}

.card-slider {
    width: 100%;
    margin: 0 0 65px;
    overflow: hidden
}

.card-slider .slick-track {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row
}

.card-slider .card-slider-item:hover {
    transition: opacity 250ms
}

.card-slider img {
    width: 100%;
    height: auto
}

.card-slider .insta-post {
    padding: 33px 24px
}

.card-slider .insta-post .h4,
.card-slider .insta-post .h4--body,
.card-slider .insta-post h4,
.card-slider .insta-post p {
    font-size: 14px;
    margin-bottom: 0
}

.card-slider .insta-post .h4,
.card-slider .insta-post .h4--body,
.card-slider .insta-post h4 {
    margin-bottom: 12px
}

@media (max-width:767px) {
    .card-slider {
        margin-bottom: 45px
    }
}

.circle-slider {
    width: 100%;
    margin: 0 auto 80px;
    overflow: hidden
}

@media (min-width:1200px) {
    .circle-slider {
        width: 820px
    }
}

@media (min-width:767px) {
    .circle-slider {
        margin: 0 auto 80px
    }
}

@media (max-width:800px) {
    .circle-slider .slick-track {
        left: 21%
    }
}

@media (max-width:460px) {
    .circle-slider .slick-track {
        left: 12%
    }
}

.circle-slider .circle-slider-item {
    padding: 0 15px
}

.circle-slider .circle-slider-item .h4,
.circle-slider .circle-slider-item .h4--body,
.circle-slider .circle-slider-item h4 {
    font-size: 30px
}

.circle-slider .circle-slider-item p {
    font-size: 16px;
    margin: 0 auto;
    max-width: 70%;
    font-weight: 400;
    line-height: 20px
}

.circle-slider .circle-slider-item img {
    margin: 20px auto;
    width: 200px;
    max-width: 100%
}

@media (max-width:1200px) {
    .circle-slider .circle-slider-item img {
        max-width: 90%
    }
}

@media screen and (max-width:768px) {

    .circle-slider .circle-slider-item .h4,
    .circle-slider .circle-slider-item .h4--body,
    .circle-slider .circle-slider-item h4 {
        font-size: 24px
    }

    .circle-slider .circle-slider-item p {
        font-size: 14px
    }
}

.card-slider .card-slider-item {
    margin: 10px;
    overflow: hidden;
    border: none;
    border-radius: 10px;
    height: auto;
    align-items: flex-start;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    transition: all 250ms;
    transform: scale(1);
    opacity: 1
}

.card-slider .card-slider-item.slick-current,
.card-slider .card-slider-item:hover {
    cursor: pointer;
    opacity: 1
}

.card-slider .slick-next:before,
.card-slider .slick-prev:before {
    color: #f2f2f2;
    font-size: 50px;
    opacity: .9
}

.card-slider .slick-arrow {
    border: none;
    border-radius: 50%;
    width: 103px;
    height: 100%;
    text-align: left;
    z-index: 2
}